input {
  outline: none;
}
input:focus {
  outline: #0b5ed7 1.5px solid;
  margin-right: 2px;
}
.search-btn {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.search-input {
  border-top-right-radius: 0px !important;
  border-bottom-right-radius: 0px !important;
}
.text-small {
  font-size: smaller;
  color: gray;
}
